[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd-party/ranges"]
	path = 3rd-party/ranges
	url = https://github.com/ericniebler/range-v3
[submodule "3rd-party/ngraph"]
	path = 3rd-party/ngraph
	url = https://gitlab.com/pep10/ngraph.git
